[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "pure"]
	path = pure
	url = git@github.com:christopherscott/pure.git
[submodule "iterm-dark-gray"]
	path = iterm-dark-gray
	url = git@github.com:christopherscott/iterm-dark-gray.git
[submodule "flatland-freshcut"]
	path = flatland-freshcut
	url = git@github.com:christopherscott/flatland-freshcut.git
